<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bean pool contributions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <ul th:each="contribution : ${contributions}">
        <li th:text="${contribution}"></li>
    </ul>
</body>
</html>